*{
    margin: 0;
    padding: 0;
  }


.table {
    margin:auto;
    width: 60%;
    padding: 10px;
    height: auto;
}

.pagination{
    display: flex;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}

